prerequisites/.terraform
prerequisites/.terraform.lock.hcl
prerequisites/terraform.tfstate
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/config_*
.gitignore
terraform/terraform.tfstate.backup
terraform/quickstart.pem
